@charset "UTF-8";


@media screen and (min-width: 828px){
    main{
        width: 60vw;
        height: 40vh;
        display: flex;
        

    }
   #d1{
    margin: auto;
    height: 100%;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    


    
   }
   #d2{
    margin: auto;
    height: 100%;
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   }

}